你好,欢迎使用本系统😀

近年来，用户数据隐私问题越来越受到人们的关注。国家和地区已经颁布了一系列隐私保护法。同时，随着大数据技术的发展，用户数据的价值进一步提升。区块链提供了一个匿名的分布式网络。智能合约提供了在网络上执行程序的能力。但是，区块链中所有节点的所有交易都是可见的，包括智能合约。此外，雾计算和云计算中的公平性仍然是业界和学术界关注的一个重要问题。同时，用户与计算服务提供商之间的信息不对称往往导致用户对服务提供商的信任危机。然而，大多数外包计算研究只关注保护用户的隐私，很少关注双方的公平性。本文的主要贡献如下：
1.	本文通过预编译契约和同态加密技术，提出了一种用于在区块链上运行的智能契约的隐私增强工具。我们首先比较了各种同态加密库，并选择SEAL来实现我们的预编译契约。然后，我们设计了该工具的体系结构。它将加密用Soldity编写的智能合约中的数据，并通过调用预编译合约将算术运算替换为同态运算。
2.	为了保证外包计算的公平性，本文创造性地提出了一种基于Paillier同态加密方案的公平事务协议。它保证了客户在收到结果后不能选择拒绝偿还债务并获得明文。由于公平的外包计算方案，双方都需要得到保护。因此，我们使用一些能够有效确保双方都能获得正确结果或奖励的工具。在调查中，我们发现区块链的特点决定了它非常适合确保交易的安全性。基于此，我们在协议中引入区块链技术。为了验证协议的安全性和实用性，本文基于FISCO-BOCS项目测试了协议中重要步骤的性能。
3.	本文比较了常见的部分同态、部分同态和完全同态加密算法和库。分析了Solidity语法和solc编译器的工作原理，实现了Solidity智能合约代码的数据加密。通过对明文进行加密，用同态运算代替算术运算，实现了对智能合约中存储数据的隐私保护。以预编译合约的形式将同态加密库引入区块链网络，以确保其良好的可扩展性和兼容性，从而使该工具能够继续以更好的性能引入同态加密库。


<!-- <div class="row row-deck row-cards">
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/sales.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/revenue.html %}
	</div>
	<div class="col-sm-6 col-lg-3">
		{% include cards/charts/new-clients.html %}
	</div>

	<div class="col-sm-6 col-lg-3">
	  {% include cards/charts/active-users.html %}
	</div>

	<div class="col-12">
		<div class="row row-cards">
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html color="blue" icon="currency-dollar" title="132 Sales" description="12 waiting payments" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html color="green" icon="shopping-cart" title="78 Orders" description="32 shipped" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html icon="brand-twitter" color="twitter" title="623 Shares" description="16 today" %}
			</div>
			<div class="col-sm-6 col-lg-3">
				{% include cards/small-stats.html icon="brand-facebook" color="facebook" title="132 Likes" description="21 today" %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Traffic summary</h3>
				{% include ui/chart.html chart-id="mentions" size="lg" legend=true %}
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		{% include cards/map-vector.html title="Locations" %}
	</div>

	{% comment %}
	<div class="col-lg-6">
		<div class="row row-cards">
			<div class="col-12">
			</div>

			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=43 title="New Tickets" percentage=6 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=95 number-prefix="$" title="Daily Earnings" percentage=-2 %}
			</div>
			<div class="col-sm-4">
				{% include cards/small-stats-3.html number=7 title="New Replies" percentage=9 %}
			</div>
		</div>
	</div>
	{% endcomment %}

	<div class="col-lg-6">
		<div class="row row-cards">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<p class="mb-3">Using Storage <strong>6854.45 MB </strong>of 8 GB</p>
						<div class="progress progress-separated mb-3">
							<div class="progress-bar bg-primary" role="progressbar" style="width: 44%"></div>
							<div class="progress-bar bg-info" role="progressbar" style="width: 19%"></div>
							<div class="progress-bar bg-success" role="progressbar" style="width: 9%"></div>
						</div>
						<div class="row">
							<div class="col-auto d-flex align-items-center pe-2">
								<span class="legend me-2 bg-primary"></span>
								<span>Regular</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">915MB</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-info"></span>
								<span>System</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">415MB</span>
							</div>
							<div class="col-auto d-flex align-items-center px-2">
								<span class="legend me-2 bg-success"></span>
								<span>Shared</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">201MB</span>
							</div>
							<div class="col-auto d-flex align-items-center ps-2">
								<span class="legend me-2"></span>
								<span>Free</span>
								<span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">612MB</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				{% include cards/activity.html %}
			</div>
		</div>
	</div>

	<div class="col-md-6">
		{% include cards/development-activity.html %}
	</div>

	<div class="col-12">
		{% include cards/icons-banner.html %}
	</div>

	<div class="col-md-12 col-lg-8">
		{% include cards/most-visited-pages.html %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/sponsor.html %}
	</div>

	<div class="col-md-6 col-lg-4">
		{% include cards/social-traffic.html %}
	</div>

	<div class="col-md-12 col-lg-8">
		{% include cards/tasks.html %}
	</div>

	<div class="col-12">
		{% include cards/invoices.html %}
	</div>
</div> -->